.navbar-default {
    background-color: #fff;
    border-color: transparent;
}

.navbar{
  margin-bottom: 0px;
}


.navbar-header{
  width: 100%;
  .navbar-brand{
    height: auto;
    display: inline-block;
    position: relative;
    z-index: 1;
    width: 100%;
    object{
      width: 250px;
      margin: auto;
      display: block;
      position: relative;
      z-index: -1;
      img{
        width: 250px;
        margin: auto;
        display: block;
      }
    }
  }

}
