html,body{
  background-color: $haze;
  height: 100%;
  position: relative;
}

h1,h2,h3,h4,h5,h6,span,button, button a,.post-read-time p, .post-link a{
  font-family: 'Open Sans', sans-serif;
}
p,li,a{
  font-family: 'Roboto', sans-serif;
}

.orange-bold{
  color: $deep-orange;
}
