$haze: #f4f4f5;
$blue: #00adee;
$orange: #fcba30;
$black: #303030;
$green: #5d9632;
$red: #f05555;
$deep-orange: #EA7200;


@import 'imports/typography';
@import 'imports/dropshadows';
@import 'imports/structure';
@import 'imports/navbar';
@import 'imports/buttons';
@import 'imports/hero';
@import 'imports/sections';
@import 'imports/pricingTable';
@import 'imports/footer';
